@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Asap|KoHo');

.author {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  text-align: right;
  margin-bottom: 2px;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #616060;
}

a:hover {
  color: #ffffff;
}

div {
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 15px;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  color: #3d3d3d;
  background-color: #3d3d3d;
}

b {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.done {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  border: 1px solid rgb(16, 112, 37);
  background-color: #c4f5c4;
  margin-bottom: 5px;
  padding: 7px;
  min-width: 300px;

}

.queue {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  border: 1px solid #a32525;
  background-color: #fcd6d6;
  margin-bottom: 5px;
  padding: 7px;
  min-width: 300px;

}

.pending {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  border: 1px solid #0ca7a7;
  background-color: #92f5e8;
  margin-bottom: 5px;
  padding: 7px;
  min-width: 300px;

}

.column {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 2px;
  background-color: #cccccc;
  border: 1px solid #525252;
}

h1 {
  background-color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
input {
  background-color: #cccccc;
  width: 200px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 0.4rem;
  margin: 4px;
  padding: 2px;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

input:focus {
  outline: none;
  box-shadow: 0.2rem 0.2rem 1.6rem;
}

input::placeholder {
  color: #464444;
}
.links {
  margin-top: 0px;
  text-align: right;
  font-size: 12px;
}

.status {
  position: relative;
  font-family:'Maven Pro', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 200px;
  background-color: #cccccc;
}
